venv/*
backend/venv/*

.env
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/


poc/